{% extends 'user/base.html' %}

{% block title %} {{ title }} {% endblock %}

{% block content %}
    <div class="container">

        <div class="row text-center">
            <div class="col-6">
                <div class="card mb-4 box-shadow">
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal">Создатель рассылки: {{ object.user }}</h4>
                    </div>

                    <div class="card-body">


                        <ul class="list-unstyled mt-3 mb-4 text-start m-3 btn-group-vertical">

                            <ol>
                                <h4>Список клиентов:</h4>
                                {% for client in object.customer.all %}
                                    <li>{{ client.first_name }}</li>
                                {% endfor %}
                            </ol>
                            <br>

                            <li>Тема письма: {{ object.message.theme }}</li>
                            <li>Интервал: {{ object.interval }}</li>
                            <li>Статус: {{ object.status_sending }}</li>
                            <li>Дата рассылки: {{ object.start_sending_date }}</li>
                            <li>Время рассылки: {{ object.start_sending_time }}</li>
                            <li>Создание рассылки: {{ object.created_at }}</li>
                            <li>Обновление рассылки: {{ object.updated_at }}</li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}