{% extends 'user/base.html' %}

{%  block content %}
    <div class="container">
 {% for object in object_list %}
   <div class="row text-center">
                <div class="col-6">
                    <div class="card mb-4 box-shadow">
                        <div class="card-header">
                            <h4 class="my-0 font-weight-normal">{{ object.message }}</h4>
                        </div>

                        <div class="card-body">


                           <ul class="list-unstyled mt-3 mb-4 text-start m-3 bg-info" >
                                <li>Время: {{ object.time_sending}}</li>
                                <li>Интервал: {{ object.interval}}</li>
                                <li>Статус: {{ object.status_sending}}</li>

                            </ul>

{#                            <a type="button" href="{% url 'sending:detail_message' object.id %}"#}
{#                               class="btn btn-lg btn-block btn-outline-primary">Детализация</a>#}
{#                             <a type="button" href="{% url 'sending:update_message' object.id %}"#}
{#                               class="btn btn-lg btn-block btn-danger">Изменить</a>#}
                        </div>
                    </div>
                </div>
            </div>
    {% endfor %}
    </div>
{% endblock %}