{% extends 'user/base.html' %}

{% block title %} {{ title }} {% endblock %}

{% block content %}

    <div class="container">
        <form action="{% url 'sending:update_sending' object.id %}" method="post">
            {% csrf_token %}

            <div class="form-row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="small mb-1" for="{{ form.user.id_for_label }}">Создатель</label>
                        {{ form.user }}
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="small mb-1" for="{{ form.customer.id_for_label }}">Клиент</label>
                        {{ form.customer }}
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="small mb-1" for="{{ form.message.id_for_label }}">Письмо</label>
                        {{ form.message }}
                    </div>
                </div>
                <div class="col-md-6">

{#                    <div class="form-group">#}
{#                        <label class="small mb-1" for="{{ form.created_at.id_for_label }}">Дата создания</label>#}
{#                        {{ form.crated_at }}#}
{#                    </div>#}
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="small mb-1" for="{{ form.inteval.id_for_label }}">Интервал</label>
                        {{ form.interval }}
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="small mb-1" for="{{ form.status_sending.id_for_label }}">Статус</label>
                        {{ form.status_sending }}
                    </div>
                </div>
            </div>

            <div class="form-row">
                <br>
                Старт рассылки
                <div class="input-group date" id="datetimepicker1" data-target-input="nearest">

                    {{ form.start_sending }}
                    <div class="input-group-append" data-target="#datetimepicker1" data-toggle="datetimepicker">
                        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <br>
                Окончание рассылки
                <div class="input-group date" id="datetimepicker1" data-target-input="nearest">

                    {{ form.end_sending }}
                    <div class="input-group-append" data-target="#datetimepicker1" data-toggle="datetimepicker">
                        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                    </div>
                </div>
            </div>
            <script>
                $(function () {
                    $("#datetimepicker1").datetimepicker({
                        format: 'DD/MM/YYYY HH:mm',
                    });
                });
            </script>

            <div class="form-group mt-4 mb-0">
                <input class="btn btn-primary btn-block" type="submit" value="Обновить данные">
            </div>

            <a type="button" href="{% url 'sending:delete_sending' object.id %}"
               class="btn btn-lg btn-block btn-danger">Удалить</a>
        </form>
    </div>


{% endblock %}